
div#gallery
{
    position: relative;
    margin: 200px auto;
    width: 980px;
}

div#gallery div
{
    display: inline-block;
}

div.images_block
{
    width: 920px;
    height: 226px;
    left: 30px;
    position: absolute;
    text-align: left;
    overflow: hidden;
}

div.images_row
{
    height: 226px;
    padding-left: 2px;
}

div.image_item
{
    margin-top: 2px;
    width: 288px;
    height: 216px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid rgba(204, 204, 204, 0.3);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(47, 30, 13, 0.6);
    -moz-box-shadow: 0px 0px 2px 2px rgba(47, 30, 13, 0.6);
    box-shadow: 0px 0px 2px 2px rgba(47, 30, 13, 0.6);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 20px;
}

div.image_item:last-child
{
    margin-right: 0;
}

div.image_item.selected_image
{
    border: 2px solid rgba(254, 85, 16, 0.8);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(254, 85, 16, 0.6);
    -moz-box-shadow: 0px 0px 2px 2px rgba(254, 85, 16, 0.6);
    box-shadow: 0px 0px 2px 2px rgba(254, 85, 16, 0.6);
}

.left_arrow
{
    position: absolute;
    top: 102px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid black;
    border-top: 6px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

.right_arrow
{
    position: absolute;
    top: 102px;
    left: 968px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-right: 6px solid black;
    border-top: 6px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

.left_arrow.disable,
.right_arrow.disable
{
    opacity: 0.3;
    cursor: default;
}